.high-contrast {
  background-color: black !important;
  color: white !important;

  & * {
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
  }
}

.negative-contrast {
  filter: invert(100%);
  background-color: black;
}

.grayscale {
  filter: grayscale(100%);
}

.high-contrast {
  background-color: black;
  color: white;
}

.light-background {
  background-color: lightyellow;
}

